@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.unit-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: 40px;
}

.unit-bubble {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    /* width: 190px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    background-color: #d4e157; /* Light yellowish-green background */
    text-align: center; /* Center text */
    font-size: 1.3em; /* Slightly bigger font */
    margin: 10px;
}


.unit-bubble.queen {
    background-color: #ffeb3b; /* Bright yellow for queen */
}

.unit-bubble.worker {
    background-color: #8bc34a; /* Light green for worker */
}

.unit-bubble.soldier {
    background-color: #ebf284; /* Darker green for soldier */
}

.unit-bubble h4 {
    margin-top: 0;
    margin-bottom: 8px;
}

.unit-bubble.cultist h4 {
    font-family: 'Cinzel', serif; /* Classic font for cultists */
}


.unit-bubble.queen h4 {
    font-family: 'Cinzel', serif; /* Classic font for queen */
}

.unit-bubble.worker h4 {
    font-family: 'Roboto Slab', serif; /* Edgy font for worker */
}

.unit-bubble.soldier h4 {
    font-family: 'Bebas Neue', cursive; /* Aggressive but not too aggressive font for soldier */
}

.unit-bubble p {
    margin: 4px 0;
    font-family: 'Roboto Slab', serif; /* Edgy font for information */
}

.task-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
}

.task-container p {
    margin-right: 8px;
}

.task-container button {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding: 4px 8px;
    border-radius: 4px;
    font-family: 'Roboto Slab', serif; /* Edgy font for button text */
    cursor: pointer;
}

.task-container select {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding: 4px 8px;
    border-radius: 4px;
    font-family: 'Roboto Slab', serif; /* Edgy font for select text */
    cursor: pointer;
    appearance: none;
    width: auto;
}

.task-container option {
    background-color: #d4e157; /* Match the background color of the unit bubble */
    color: black;
    padding: 4px 8px;
}

.task-container option:checked {
    display: none;
}

.task-container button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 2em; /* Larger font size */
    text-align: center; /* Center the text */
    color: white;
    margin-bottom: 20px; /* Space below the heading */
}

.delete-button{
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: transparent;
    background: none;
    border: none;
    padding: 2px;
    border-radius: 4px;
    font-family: 'Roboto Slab', serif; /* Edgy font for button text */
    cursor: pointer;
}