@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.command-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.command-panel button {
    background-color: #a2d6cb; /* Light green background */
    border: none;
    color: black;
    padding: 12px 24px;
    font-size: 16px;
    font-family: 'Roboto Slab', serif; /* Edgy font for button text */
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.command-panel button:hover {
    background-color: #7cb342; /* Slightly darker green on hover */
}